<div nz-row>
  <div nz-col nzXs="24" class="mb-[50px]">
    <div
      class="bg-pink dark:bg-white/10 flex justify-center items-center min-h-[330px] max-md:min-h-[240px] max-sm:min-h-[150px] rounded-10">
      <h2
        class="mb-28 max-md:mb-0 text-dark dark:text-white/[.87] text-5xl max-lg:text-4xl max-md:text-3xl max-sm:text-[26px] font-semibold">
        Terms & Conditions
      </h2>
    </div>
    <div
      class="bg-white dark:bg-[#4b4d56] max-w-[770px] max-md:max-w-[560px] -mt-32 max-md:mt-[30px] mx-auto pt-px px-12 max-sm:px-[30px] pb-12 shadow-custom dark:shadow-none rounded-10">
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Privacy Policy</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Your privacy is important to us. Any information
        submitted by the buyer for completing the transaction, delivering the product, informing about new product
        releases, and addressing any customer service issues are strictly confidential. We don’t share this information
        with anyone.</p>
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Payment</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">To Purchase any of our products, you have the option of
        paying via PayPal or any major credit and debit cards. Extensions and Themes are licensed for one year at a
        time. After that you may renew your license to continue updates and support. We do not store your payment or
        credit card information for your security.</p>
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        License Usage</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry`s standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Product Updates</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
      </p>
      <h3
        class="mt-12 lg:mt-10 mb-9 lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Media</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
      </p>
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Cookies</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
      </p>
      <h3
        class="mt-12 max-lg:mt-10 mb-9 max-lg:mb-5 text-dark dark:text-white/[.87] text-3xl max-lg:text-[26px] max-sm:text-2xl font-semibold">
        Support</h3>
      <p class="text-base leading-7 text-body dark:text-white/60">Please, refer <a
          href="#" class="text-primary">Support Policy</a> page for details.</p>
      <p class="text-base leading-7 text-body dark:text-white/60">Last update: May 05, 2023</p>
    </div>
  </div>
</div>
