@model IEnumerable<Course>

@foreach(var item in Model)
{

    <div class="cus-xl-3 col-lg-6 col-md-11 col-12 mb-30 px-10">


    <div class="card product product--grid">
        <div class="h-100">
            <div class="product-item">
                <div class="product-item__image">
  
                        <a asp-action="Details" asp-area="Tutor" asp-controller="Courses" asp-route-Id="@item.CourseId"><img class="card-img-top img-fluid" src="@Url.Content(item.CourseImg)" alt="digital-chair"></a>
                </div>
                <div class="card-body px-20 pb-25 pt-25">
                    <div class="product-item__body text-capitalize">
                        <a href="~/product-details.html">
                            <h6 class="card-title">@item.CourseName</h6>
                        </a>

                    </div>
                    <div class="product-item__footer">

                        <div class="d-flex align-items-center flex-wrap">
                            <span class="product-desc-price">$@item.Price  </span>
                        </div>
                    </div>
                    <div class="product-item__button d-flex mt-20 flex-wrap">



                        <button class="btn btn-default btn-squared color-light btn-outline-light px-20 ">
                            <img src="~/img/svg/shopping-bag.svg" alt="shopping-bag" class="svg">
                            Add To Cart
                        </button>






                        <button class="btn btn-primary btn-default btn-squared border-0 px-25">
                            buy now
                        </button>





                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
}
