@{
    ViewData["Title"] = "Home Page";
}

        <h3 class="H3Home">Courses</h3>
      @await Component.InvokeAsync("Course")

        <h3 class="H3Home">Music Equipments</h3>
        @await Component.InvokeAsync("Equipment")

