@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="cus-xl-3 col-lg-6 col-md-11 col-12 mb-30 px-10">

        <h3 class="H3Home">Courses</h3>
      @await Component.InvokeAsync("Course")
      </div>
<div class="cus-xl-3 col-lg-6 col-md-11 col-12 mb-30 px-10">

        <h3 class="H3Home">Music Equipments</h3>
        @await Component.InvokeAsync("Equipment")
        </div>

