@model Main.Models.TeacherModels.Course

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CourseName</h1>

<div>
   <div> 
       <video autoplay="autoplay" width="800" height="900" >

           <source src="@Model.CourseVideo" type="video/mp4" />  

       </video>
   </div>
   <div> 
       <h3>
           <label asp-for="@Model.CourseDescription"></label>
       </h3>
       <p>@Model.CourseDescription</p>
   </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
