@model Main.Models.TeacherModels.Course

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CourseName</h1>

<div>
   <div> 
       <video src="@Url.Content(Model.CourseVideo)"  width="800" height="600" controls muted autoplay >

       </video>
   </div>
   <div> 
       <h3>
           <label asp-for="@Model.CourseDescription"></label>
       </h3>
       <p>@Model.CourseDescription</p>
   </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
