<div nz-row nzGutter="25">
  <!-- skeleton -->
  <ng-template #loadingSkeleton>
    <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
      [nzParagraph]="{ rows: 6 }"></nz-skeleton>
  </ng-template>
  <!-- skeleton -->

  <div nz-col nzXs="24" nzXXl="12" class="mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <div
        class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
        <div class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
          <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Horizontal Form</h4>
        </div>
        <div class="p-[25px]">
          <form nz-form>
            <nz-form-item class="mb-[25px]">
              <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="name">Name</nz-form-label>
              <nz-form-control nzLg="16" nzMd="15" nzXs="24">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="name" type="text" id="name" value="Duran Clayton" placeholder="Enter Name">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
              <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="email">Email Address</nz-form-label>
              <nz-form-control nzLg="16" nzMd="15" nzXs="24">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="email" type="email" id="email" value="username@email.com" placeholder="Enter Email">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
              <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="pass">Password</nz-form-label>
              <nz-form-control nzLg="16" nzMd="15" nzXs="24">
                <nz-input-group class="flex items-center shadow-none py-[10px] px-[20px] h-[50px] border-1 border-normal dark:border-white/10 w-full text-[14px] font-normal leading-[1.5] dark:bg-white/10 rounded-4" [nzSuffix]="suffixTemplate">
                  <input class="w-full text-[15px] placeholder:text-[#A0A0A0] dark:bg-transparent bg-transparent dark:text-white/60 outline-none autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,0,0)]  text-theme-gray"
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Input password"
                  />
                  <ng-template #suffixTemplate>
                    <span
                    class="cursor-pointer text-light-extra dark:text-white/60 w-[15px] h-[15px]"
                      nz-icon
                      [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item >
            <nz-form-item nzJustify="end">
              <nz-form-control nzLg="16" nzMd="15" nzXs="24">
                <div class="flex flex-wrap gap-[15px]">
                  <button nz-button class=" bg-theme-gray/10 dark:bg-white30 hover:bg-gray-hbr dark:hover:bg-white/10 border-none text-theme-gray dark:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                    <span>Cancel</span>
                  </button>
                  <button nz-button class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                    <span>Save</span>
                  </button>
                </div>
              </nz-form-control>
            </nz-form-item >
          </form>
        </div>
      </div>
    </ng-container>
  </div>
  <div nz-col nzXs="24" nzXXl="12" class="mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <div
      class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
      <div class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
        <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Horizontal Form with icon</h4>
      </div>
      <div class="p-[25px]">
        <form nz-form>
          <nz-form-item class="mb-[25px]">
            <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="name2">Name</nz-form-label>
            <nz-form-control nzLg="16" nzMd="15" nzXs="24">
              <nz-input-group class="before:hidden w-full rounded-4 border-normal border-1  dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none flex items-center gap-[10px]" [nzPrefix]="prefixTemplateUser">
                <input class="placeholder:text-[#A0A0A0] text-[15px] text-theme-gray bg-transparent dark:text-white/60" nz-input nz-input name="name" type="text" id="name2" value="Duran Clayton" placeholder="Enter Name" />
              </nz-input-group>
              <ng-template #prefixTemplateUser><span class="text-light-extra dark:text-white/60" nz-icon nzType="user"></span></ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mb-[25px]">
            <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="email2">Email Address</nz-form-label>
            <nz-form-control nzLg="16" nzMd="15" nzXs="24">
              <nz-input-group class="before:hidden w-full rounded-4 border-normal border-1 dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none flex items-center gap-[10px]" [nzPrefix]="prefixTemplateMail">
                <input class="placeholder:text-[#A0A0A0] text-[15px] text-theme-gray bg-transparent dark:text-white/60" nz-input nz-input name="email" type="email" id="email2" value="username@email.com" placeholder="Enter Email" />
              </nz-input-group>
              <ng-template #prefixTemplateMail><span class="text-light-extra dark:text-white/60" nz-icon nzType="mail"></span></ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="flex items-center font-medium dark:text-white/60"  nzLg="8" nzMd="9" nzXs="24" nzFor="pass">Password</nz-form-label>
            <nz-form-control nzLg="16" nzMd="15" nzXs="24">
              <nz-input-group class="flex items-center shadow-none py-[10px] px-[20px] h-[50px] border-1 border-normal dark:border-white/10 w-full text-[14px] font-normal leading-[1.5] dark:bg-white/10 rounded-4" [nzSuffix]="suffixTemplate">
                <input class="w-full text-[15px] placeholder:text-[#A0A0A0] dark:bg-transparent bg-transparent dark:text-white/60 outline-none autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,0,0)]  text-theme-gray"
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="Input password"
                />
                <ng-template #suffixTemplate>
                  <span
                  class="cursor-pointer text-light-extra dark:text-white/60 w-[15px] h-[15px]"
                    nz-icon
                    [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                    (click)="passwordVisible = !passwordVisible"
                  ></span>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item >
          <nz-form-item  nzJustify="end">
            <nz-form-control nzLg="16" nzMd="15" nzXs="24">
              <div class="flex flex-wrap gap-[15px]">
                <button nz-button class=" bg-theme-gray/10 dark:bg-white30 hover:bg-gray-hbr dark:hover:bg-white/10 border-none text-theme-gray dark:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                  <span>Cancel</span>
                </button>
                <button nz-button class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                  <span>Save</span>
                </button>
              </div>
            </nz-form-control>
          </nz-form-item >
        </form>
      </div>
    </div>
    </ng-container>
  </div>
  <div nz-col nzXs="24" class="mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <div
        class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
        <div class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
          <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Multiple column</h4>
        </div>
        <div class="p-[25px]">
          <form nz-form>
            <nz-form-item nzGutter="25" class="mb-0">
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="name" type="text" placeholder="First Name">
              </nz-form-control>
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="text" type="email" placeholder="Last Name">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item nzGutter="25" class="mb-0">
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="name" type="text" placeholder="City">
              </nz-form-control>
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="text" type="text" placeholder="Country">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nzGutter="25" class="mb-0">
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="name" type="text" placeholder="Company">
              </nz-form-control>
              <nz-form-control nzLg="12" nzMd="12" nzXs="24" class="mb-[25px]">
                <input class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input name="text" type="email" placeholder="Email">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <div class="flex flex-wrap gap-[15px]">
                  <button nz-button class=" bg-theme-gray/10 dark:bg-white30 hover:bg-gray-hbr dark:hover:bg-white/10 border-none text-theme-gray dark:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                    <span>Cancel</span>
                  </button>
                  <button nz-button class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                    <span>Save</span>
                  </button>
                </div>
              </nz-form-control>
            </nz-form-item >
          </form>
        </div>
      </div>
    </ng-container>
  </div>
