@model MusicEquipmentViewModel


<div class="products_page product_page--grid mb-30">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- End: .columns-1 -->
            <div class="columns-2 col-lg-12">

                <div class="tab-content mt-25" id="ap-tabContent">
                    <div class="tab-pane fade show active" id="ap-overview" role="tabpanel" aria-labelledby="ap-overview-tab">

                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">Edit Product</h4>
                            <div class="breadcrumb-action justify-content-center flex-wrap">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><i class="uil uil-estate"></i>Music Equipment</li>
                                        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start: product page -->
                    <div class="product-add global-shadow px-sm-30 py-sm-50 px-0 py-20 bg-white radius-xl w-100 mb-40">
                        <div class="row justify-content-center">
                            <div class="col-xxl-7 col-lg-10">
                                <div class="mx-sm-30 mx-20 ">
                                    <!-- Start: card -->
                                    <div class="card add-product p-sm-30 p-20 mb-30">
                                        <div class="card-body p-0">
                                            <div class="card-header">
                                                <h6 class="fw-500">About Product</h6>
                                            </div>
                                            <!-- Start: card body -->
                                            <div class="add-product__body px-sm-40 px-20">
                                                <!-- Start: form -->
                                                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                                    <div asp-validation-summary="All" class="text-danger"></div>

                                                    <!-- form group -->
                                                    <div class="form-group">
                                                        <label for="name1">Product Name</label>
                                                        <input type="text" asp-for="Name" class="form-control" id="name1" placeholder="red chair">
                                                    </div>


                                                    <!-- form group 2 -->
                                                    <div class="form-group">

                                                        <label>category</label>
                                                        <select asp-for="categoryName" class="form-control" asp-items="ViewBag.categoryName"></select>
                                                    </div>

                                                    <!-- form group 3 -->
                                                    <div class="form-group quantity-appearance">
                                                        <label>price</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">
                                                                    <img class="svg" src="~/img/svg/dollar-sign.svg" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="pt_Quantity">
                                                                <input type="number" class="form-control " asp-for="Price">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- form group 6 -->
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Product Description</label>
                                                        <textarea asp-for="@Model.About_It" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="About"></textarea>
                                                    </div>
                                                    <!-- End: card body -->
                                                    <div class="card add-product p-sm-30 p-20 ">
                                                        <div class="card-body p-0">
                                                            <div class="card-header">
                                                                <h6 class="fw-500">Product image</h6>
                                                            </div>
                                                            <!-- Start: product body -->
                                                            <div class="add-product__body-img px-sm-40 px-20">
                                                                <label for="upload" class="file-upload__label">
                                                                    <span class="upload-product-img px-10 d-block">
                                                                        <span class="file-upload">
                                                                            <img class="svg" src="~/img/svg/upload.svg" alt="">
                                                                        </span>
                                                                        <span class="pera">Drag and drop an image</span>

                                                                        <span>
                                                                            or Browse to choose a
                                                                            file
                                                                        </span>
                                                                        <br />
                                                                        <input asp-for="@Model.Img" />

                                                                    </span>
                                                                </label>

                                                            </div>
                                                            <!-- End: product body -->
                                                        </div>
                                                    </div>
                                                    <!-- End: card -->
                                                    <!-- Start: button group -->
                                                    <div class="button-group add-product-btn d-flex justify-content-sm-end justify-content-center mt-40">


                                                        <a asp-action="Index" class="btn btn-light btn-default btn-squared fw-400 text-capitalize">
                                                            cancel
                                                        </a>







                                                        <button type="submit" class="btn btn-primary btn-default btn-squared text-capitalize">
                                                            save product
                                                        </button>





                                                    </div>
                                                    <!-- End: button group -->
                                                </form>
                                            </div>
                                            <!-- End: card body -->
                                        </div>
                                    </div>
                                    <!-- End: card -->
                                    <!-- Start: card -->

                                </div>
                            </div>
                            <!-- ends: col-lg-8 -->
                        </div>
                    </div>
                    <!-- End: Product page -->
                </div>
                <!-- ends: col-lg-12 -->
            </div>
        </div>

    </div>
</div>