<div class="relative main-content py-[120px] bg-top bg-no-repeat bg-[url('/assets/images/shape/admin-bg-light.png')] dark:bg-[url('/assets/images/shape/admin-bg-dark.png')] dark:bg-[#010312] bg-contain">
  <div class="admin">
    <div class="text-center">
      <img class="inline dark:hidden " src="../../../assets/images/logo/logo-dark.png" alt="image" />
      <img class="hidden dark:inline" src="../../../assets/images/logo/logo-white.png" alt="image" />
    </div>
    <div nz-row class="justify-center">
      <div nz-col nzXs="24" nzSm="18" nzMd="12" nzXl="8" nzXXl="6">
        <div class="rounded-6 mt-[25px] shadow_[0px_5px_20px_rgba(173,181,217, 0.03)] dark:shadow_[0px_5px_15px_rgba(0, 0, 0, .1)] bg-white dark:bg-[#1b1d2a]">
          <div class="p-[25px] text-center border-b border-regular dark:border-white/[.05] top">
            <h2 class="text-18 font-semibold leading-[1] mb-0 text-dark dark:text-white/[.87] title">Sign in HexaDash</h2>
          </div>
          <div class="py-[30px] px-[40px] content">
            <form nz-form [formGroup]="validateForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item class="block mb-0">
                <nz-form-label
                  class="text-[14px] w-full leading-[1.4285714286] font-medium [&>label]:text-dark [&>label]:dark:text-white/[.87] mb-[8px] capitalize inline-block"
                  nzRequired nzFor="userName">Username or Email Address</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input
                    class="flex items-center shadow-none py-[10px] px-[20px] h-[48px] border-1 border-regular dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60"
                    nz-input formControlName="userName" placeholder="Username or Email" id="userName" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="block mb-0 mt-[25px]">
                <nz-form-label
                  class=" text-[14px] leading-[1.4285714286] font-medium [&>label]:text-dark [&>label]:dark:text-white/[.87] capitalize inline-block"
                  nzRequired nzFor="password">Password</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group
                    class="flex items-center shadow-none py-[10px] px-[20px] h-[48px] border-1 border-regular dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] dark:bg-white/10"
                    [nzSuffix]="suffixTemplate">
                    <input nz-input formControlName="password" [type]="passwordVisible ? 'text' : 'password'"
                      id="password" placeholder="Password" class="placeholder:text-[#A0A0A0] dark:bg-transparent bg-transparent dark:text-white/60" />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span class="[&>svg]:text-theme-gray dark:[&>svg]:text-white/60" nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                      (click)="passwordVisible = !passwordVisible"></span>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <div class="flex items-center justify-between capitalize mb-[19px] mt-[23px] ">
                <label nz-checkbox formControlName="remember" class="font-normal text-13 leading-[22px] text-light dark:text-white/60">
                  <span>Keep me logged in</span>
                </label>
                <a class="text-13 text-primary hover:text-dark dark:hover:text-white/[.87]" routerLink="/authentication/forget-pass">forget password?</a>
              </div>
              <button nz-button type="submit"
                class=" inline-flex items-center justify-center w-full h-[48px] text-14 rounded-6 font-medium bg-primary text-white cursor-pointer hover:bg-primary-hbr border-primary transition duration-300">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                Log in
              </button>
            </form>
            <div
              class="relative mt-[25px] text-center text-13 text-regular dark:text-white/[87] before:content-[''] before:absolute before:w-full ltr:before:left-0 rtl:before:right-0 before:top-[50%] before:translate-y-[-50%] before:z-[1] before:h-[1px] before:bg-normal before:dark:bg-white/10">
              <span
                class="font-medium px-[15px] inline-block relative z-[2] bg-white dark:bg-[#1b1c29] text-theme-gray dark:text-white/60 capitalize">or</span>
            </div>
            <div class="mt-[30px] d-flex align-items-center justify-content-center">
              <ul class="flex flex-wrap justify-center gap-x-[20px] gap-y-[10px]">
                <li *ngFor="let button of socialMediaButtons">
                  <button class="w-[48px] h-[48px] cursor-pointer rounded-6 transition duration-300 flex justify-center items-center text-{{
                      button.type
                    }} bg-{{ button.type }}/10 dark:bg-{{ button.type }}  hover:bg-{{ button.type }}/20">
                    <svg-icon class="w-[22px] h-[22px] [&>svg]:w-[22px] [&>svg]:h-[22px] dark:text-white text-{{ button.type }}" src="../../../assets/images/svg/unicons-line/{{ button.icon }}.svg"></svg-icon>
                  </button>
                  <div class="hidden dark:text-white remove-div text-facebook bg-facebook/10 dark:bg-facebook hover:bg-facebook/20"></div>
                  <div class="hidden dark:text-white remove-div text-twitter bg-twitter/10 dark:bg-twitter hover:bg-twitter/20"></div>
                  <div class="hidden dark:text-white remove-div text-github bg-github/10 dark:bg-github hover:bg-github/20"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center p-[25px] rounded-b-6 bg-deepBG dark:bg-[#282a37]">
            <p
              class="text-[14px] font-medium text-theme-gray dark:text-white/[.87] inline-flex items-center gap-[6px] mb-0">
              Don`t have an account?<a
                class="transition duration-300 text-primary hover:text-dark dark:hover:text-white/[.87]"
                routerLink="/authentication/sign-up-1">Sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
