@model IEnumerable<MusicEquipment>
@foreach (var item in Model)
{

        <div class="card product product--grid" >
            <div class="h-100">
                <div class="product-item">
                    <div class="product-item__image">
                        <span class="like-icon">
                            <button type="button" class="content-center">
                                <i class="lar la-heart icon"></i>
                            </button>
                        </span>
                        <a asp-action="ViewProduct" asp-area="Admin" asp-controller="MusicEquipments" asp-route-id="@item.Id"><img  class="card-img-top img-fluid" src="@Url.Content(item.Img)" alt="digital-chair"></a>
                    </div>
                    <div class="card-body px-20 pb-25 pt-25" >
                        <div class="product-item__body text-capitalize">
                            <a asp-action="ViewProduct" asp-area="Admin" asp-controller="MusicEquipments" asp-route-id="@item.Id">
                                <h6 class="card-title">@item.Name</h6>
                            </a>

                        </div>
                        <div class="product-item__footer">

                            <div class="d-flex align-items-center flex-wrap">
                                <span class="product-desc-price">$@item.Price  </span>
                            </div>
                        </div>
                        <div class="product-item__button d-flex mt-20 flex-wrap">



                            <button class="btn btn-default btn-squared color-light btn-outline-light px-20 ">
                                <img src="~/img/svg/shopping-bag.svg" alt="shopping-bag" class="svg">
                                Add To Cart
                            </button>


                            <button class="btn btn-primary btn-default btn-squared border-0 px-25">
                                buy now
                            </button>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        }