@model IEnumerable<MusicEquipment>
@foreach (var item in Model)
{


    <div class="cus-xl-3 col-lg-6 col-md-11 col-12 mb-30 px-10">

        <div class="card product product--grid">
            <div class="h-100">
                <div class="product-item">
                    <div class="product-item__image">
                        <span class="like-icon">
                            <button type="button" class="content-center">
                                <i class="lar la-heart icon"></i>
                            </button>
                        </span>
                        <a asp-action="Detail" asp-area="Admin" asp-controller="MusicEquipment" asp-route-id="@item.Id"><img class="card-img-top img-fluid" src="@Url.Content(item.Img)" alt="digital-chair"></a>
                    </div>
                    <div class="card-body px-20 pb-25 pt-25">
                        <div class="product-item__body text-capitalize">
                            <a asp-action="Details" asp-area="Admin" asp-controller="MusicEquipment" asp-route-id="@item.Id">
                                <h6 class="card-title">@item.Name</h6>
                            </a>
                            <div class="stars-rating d-flex align-items-center flex-wrap mb-10">
                                <span class="star-icon las la-star active"></span>
                                <span class="star-icon las la-star active"></span>
                                <span class="star-icon las la-star active"></span>
                                <span class="star-icon las la-star active"></span>
                                <span class="star-icon las la-star-half-alt active"></span>
                                <span class="stars-rating__point">4.9</span>
                                <span class="stars-rating__review">
                                    <span>778</span> Reviews
                                </span>
                            </div>
                        </div>
                        <div class="product-item__footer">

                            <div class="d-flex align-items-center flex-wrap">
                                <span class="product-desc-price">$@item.Price  </span>
                            </div>
                        </div>
                        <div class="product-item__button d-flex mt-20 flex-wrap">



                            <button class="btn btn-default btn-squared color-light btn-outline-light px-20 ">
                                <img src="~/img/svg/shopping-bag.svg" alt="shopping-bag" class="svg">
                                Add To Cart
                            </button>






                            <button class="btn btn-primary btn-default btn-squared border-0 px-25">
                                buy now
                            </button>





                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}