<div nz-row [nzGutter]="25">
  <!-- Themes Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Theme Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Primary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#8231D3</span>
        </div>
        <div class="text-center">
          <button
            class="bg-secondary hover:bg-secondary-hbr border-solid border-1 border-secondary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Secondary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#5840FF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-success hover:bg-success-hbr border-solid border-1 border-success text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Success
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01B81A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-info hover:bg-info-hbr border-solid border-1 border-info text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Info
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#00AAFF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-warning hover:bg-warning-hbr border-solid border-1 border-warning text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Warning
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#FA8B0C</span>
        </div>
        <div class="text-center">
          <button
            class="bg-danger hover:bg-danger-hbr border-solid border-1 border-danger text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Danger
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#ff4d4f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-dark hover:bg-dark-hbr border-solid border-1 border-dark text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dark
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#0A0A0A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-theme-gray hover:bg-gray-hbr border-solid border-1 border-theme-gray text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Gray
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#404040</span>
        </div>
        <div class="text-center">
          <button
            class="bg-light hover:bg-light-hbr border-solid border-1 border-light text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Light
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#747474</span>
        </div>
        <div class="text-center">
          <button
            class="bg-light-extra hover:bg-light-hbr-extra border-solid border-1 border-light-extra text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Extra Light
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#A0A0A0</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Themes Colors -->

  <!-- Hover Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Hover Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="hover:bg-primary bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Primary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#6726A8</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-secondary bg-secondary-hbr border-solid border-1 border-secondary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Secondary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#3520C8</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-success bg-success-hbr border-solid border-1 border-success text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Success
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#0D811D</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-info bg-info-hbr border-solid border-1 border-info text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Info
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#0787C7</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-warning bg-warning-hbr border-solid border-1 border-warning text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Warning
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#D9790A</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-danger bg-danger-hbr border-solid border-1 border-danger text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Danger
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#CB0000</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-dark bg-dark-hbr border-solid border-1 border-dark text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dark
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#272525</span>
        </div>
        <div class="text-center">
          <button
            class="hover:bg-theme-gray bg-gray-hbr border-solid border-1 border-theme-gray text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Gray
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#585858</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Hover Colors -->

  <!-- transparent Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Transparent Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="bg-primary/10 hover:bg-primary-hbr border-none text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Primary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#8231D3</span>
        </div>
        <div class="text-center">
          <button
            class="bg-secondary/10 hover:bg-secondary-hbr border-none text-secondary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Secondary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#5840FF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-success/10 hover:bg-success-hbr border-none text-success hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Success
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01B81A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Info
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#00AAFF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-warning/10 hover:bg-warning-hbr border-none text-warning hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Warning
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#FA8B0C</span>
        </div>
        <div class="text-center">
          <button
            class="bg-danger/10 hover:bg-danger-hbr border-none text-danger hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Danger
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#ff4d4f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-dark/10 hover:bg-dark-hbr border-none text-dark dark:text-white[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dark
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#0A0A0A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-theme-gray/10 dark:bg-white30 hover:bg-gray-hbr dark:hover:bg-white10 border-none text-theme-gray dark:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Gray
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#404040</span>
        </div>
        <div class="text-center">
          <button
            class="bg-active/10 hover:bg-success-hbr border-none text-active hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Active
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01B81A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-deactivated/10 hover:bg-warning-hbr border-none text-deactivated hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Deactivated
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#fa8b0c</span>
        </div>
        <div class="text-center">
          <button
            class="bg-blocked/10 hover:bg-danger-hbr border-none text-blocked hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Blocked
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#ff0f0f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-complete/10 hover:bg-success-hbr border-none text-complete hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Done
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01B81A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-warning/10 hover:bg-warning-hbr border-none text-warning hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Pending
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#fa8b0c</span>
        </div>
        <div class="text-center">
          <button
            class="bg-early border-none text-white dark:text-white[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Early
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01b81a</span>
        </div>
        <div class="text-center">
          <button
            class="bg-warning border-none text-white dark:text-white[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Late
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#fa8b0c</span>
        </div>
        <div class="text-center">
          <button
            class="bg-progress border-none text-white dark:text-white[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Progress
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#ff4d4f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-complete border-none text-white dark:text-white[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Complete
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01b81a</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end: transparent Colors -->

  <!-- Social Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Social Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="bg-google/10 border-solid border-1 border-google text-google text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Google
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#f14336</span>
        </div>
        <div class="text-center">
          <button
            class="bg-google-plus/10 border-solid border-1 border-google-plus text-google-plus text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Google Plus
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#f06548</span>
        </div>
        <div class="text-center">
          <button
            class="bg-facebook/10 border-solid border-1 border-facebook text-facebook text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Facebook
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#1976d2</span>
        </div>
        <div class="text-center">
          <button
            class="bg-twitter/10 border-solid border-1 border-twitter text-twitter text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Twitter
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#03a9f4</span>
        </div>
        <div class="text-center">
          <button
            class="bg-dribbble/10 border-solid border-1 border-dribbble text-dribbble text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dribble
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#c2185b</span>
        </div>
        <div class="text-center">
          <button
            class="bg-linkedin/10 border-solid border-1 border-linkedin text-linkedin text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Linkedin
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#007ab9</span>
        </div>
        <div class="text-center">
          <button
            class="bg-instagram/10 border-solid border-1 border-instagram text-instagram text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Instagram
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#d1208f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-github/10 border-solid border-1 border-github text-github text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            github
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#090e30</span>
        </div>
        <div class="text-center">
          <button
            class="bg-medium/10 border-solid border-1 border-medium text-medium text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            medium
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#66cdaa</span>
        </div>
        <div class="text-center">
          <button
            class="bg-youtube/10 border-solid border-1 border-youtube text-youtube text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            youtube
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#c4302b</span>
        </div>
        <div class="text-center">
          <button
            class="bg-whatsapp/10 border-solid border-1 border-whatsapp text-whatsapp text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            whatsapp
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#25D366</span>
        </div>
      </div>

      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="bg-google border-solid border-1 border-google text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Google
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#f14336</span>
        </div>
        <div class="text-center">
          <button
            class="bg-google-plus border-solid border-1 border-google-plus text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Google Plus
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#f06548</span>
        </div>
        <div class="text-center">
          <button
            class="bg-facebook border-solid border-1 border-facebook text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Facebook
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#1976d2</span>
        </div>
        <div class="text-center">
          <button
            class="bg-twitter border-solid border-1 border-twitter text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Twitter
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#03a9f4</span>
        </div>
        <div class="text-center">
          <button
            class="bg-dribbble border-solid border-1 border-dribbble text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dribble
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#c2185b</span>
        </div>
        <div class="text-center">
          <button
            class="bg-linkedin border-solid border-1 border-linkedin text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Linkedin
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#007ab9</span>
        </div>
        <div class="text-center">
          <button
            class="bg-instagram border-solid border-1 border-instagram text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Instagram
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#d1208f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-github border-solid border-1 border-github text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            github
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#090e30</span>
        </div>
        <div class="text-center">
          <button
            class="bg-medium border-solid border-1 border-medium text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            medium
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#66cdaa</span>
        </div>
        <div class="text-center">
          <button
            class="bg-whatsapp border-solid border-1 border-whatsapp text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            whatsapp
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#25D366</span>
        </div>
        <div class="text-center">
          <button
            class="bg-youtube border-solid border-1 border-youtube text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn capitalize">
            youtube
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#c4302b</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Social Colors -->

  <!-- Border Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Border Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-primary-hbr border-1 border-style border-primary text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Primary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#8231D3</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-secondary-hbr border-1 border-style border-secondary text-secondary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Secondary
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#5840FF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-success-hbr border-1 border-style border-success text-success hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Success
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#01B81A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-info-hbr border-1 border-style border-info text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Info
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#00AAFF</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-warning-hbr border-1 border-style border-warning text-warning hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Warning
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#FA8B0C</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-danger-hbr border-1 border-style border-danger text-danger hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Danger
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#ff4d4f</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-dark-hbr border-1 border-style border-dark text-dark dark:texd-white/[.87] hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Dark
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#0A0A0A</span>
        </div>
        <div class="text-center">
          <button
            class="bg-transparent hover:bg-gray-hbr border-1 border-style border-theme-gray text-theme-gray dark:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn">
            Gray
          </button>
          <span class="block text-dark dark:text-white/[.87] mt-[5px]">#404040</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Border Colors -->

  <!-- Gradient Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Gradient Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0 pb-0">
        <div nz-row [nzGutter]="25" class="w-full">
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="bg-gradient-to-r from-primary flex items-center justify-between rounded-[10px] py-[35px] px-[20px] text-white dark:text-white/[.87] h-[100px]">
              <span class="me-0 fs-15">#8231D3</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="bg-gradient-to-r from-primary to-secondary flex items-center justify-between rounded-[10px] py-[35px] px-[20px] text-white dark:text-white/[.87] h-[100px] gap-[30px]">
              <span class="text-[15px]">#8231D3</span>
              <span class="text-[15px]">#5840FF</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="bg-gradient-to-r from-primary via-secondary to-primary flex items-center justify-between rounded-[10px] py-[35px] px-[20px] text-white dark:text-white/[.87] h-[100px] gap-[30px]">
              <span class="text-[15px]">#8231D3</span>
              <span class="text-[15px]">#5840FF</span>
              <span class="text-[15px]">#8231D3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Gradient Colors -->

  <!-- Defaults Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Border Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div nz-row [nzGutter]="25" class="w-full">
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] border-1 border-solid dark:border-white/10 rounded-[4px] gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">Border color 1</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#F1F2F6</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] border-1 border-solid border-normal dark:border-white/10 rounded-[4px] gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">Border color 2</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#E3E6EF</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] border-1 border-solid border-deep dark:border-white/10 rounded-[4px] gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">Border color 2</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#C6D0DC</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Defaults Colors -->

  <!-- Background Gray Colors -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Background Gray Colors</h1>
      </div>
      <div class="flex flex-wrap gap-x-[10px] gap-y-[10px] p-[25px] pt-0">
        <div nz-row [nzGutter]="25" class="w-full">
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] bg-regularBG dark:bg-white/10 rounded-[4px] gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">BG color 1</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#F8F9FB</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] bg-normalBG dark:bg-white/10 rounded-[4px]gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">BG color 2</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#F4F5F7</span>
            </div>
          </div>
          <div nz-col nzXl="5" nzSm="12" class="mb-[25px]">
            <div
              class="flex items-center justify-between h-[48px] px-[20px] bg-deepBG dark:bg-white/10 rounded-[4px] gap-[15px]">
              <span class="text-[15px] text-theme-gray dark:text-white/60">BG color 3</span>
              <span class="text-[14px] text-dark dark:text-white/[.87] font-medium">#EFF0F3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Background Gray Colors -->

  <!-- button sizes -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Button Sizes</h1>
      </div>
      <div class="flex flex-wrap gap-y-[15px] p-[25px] pt-0">
        <div class="flex flex-wrap items-center gap-x-[10px] max-md:gap-y-[40px] gap-y-[20px] w-full">
          <button
            class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[32px] shadow-btn">
            Extra Small
          </button>
          <button
            class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[38px] shadow-btn"
            raised>
            Small
          </button>
          <button
            class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] shadow-btn"
            raised>
            Normal
          </button>
          <button
            class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[50px] shadow-btn"
            raised>
            Large button
          </button>
        </div>
        <div class="flex flex-wrap items-center gap-x-[10px] max-md:gap-y-[40px] gap-y-[20px] w-full">
          <button
            class="bg-transparent hover:bg-primary-hbr border-solid border-1 border-primary text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[32px]">
            Extra Small
          </button>
          <button
            class="bg-transparent hover:bg-primary-hbr border-solid border-1 border-primary text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[38px]">
            Small
          </button>
          <button
            class="bg-transparent hover:bg-primary-hbr border-solid border-1 border-primary text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]">
            Normal
          </button>
          <button
            class="bg-transparent hover:bg-primary-hbr border-solid border-1 border-primary text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[50px]">
            Large button
          </button>
        </div>
        <div class="flex flex-wrap items-center gap-x-[10px] max-md:gap-y-[40px] gap-y-[20px] w-full">
          <button
            class="bg-primary/10 text-primary border-none text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[32px]">
            Extra Small
          </button>
          <button
            class="bg-primary/10 text-primary border-none text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[38px]">
            Small
          </button>
          <button
            class="bg-primary/10 text-primary border-none text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]">
            Normal
          </button>
          <button
            class="bg-primary/10 text-primary border-none text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[50px]">
            Large button
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end: button sizes -->

  <!-- Typography Jost -->
  <div nz-col nzXs="24" class="mb-[25px]">
    <div class="bg-white dark:bg-white/10 rounded-10">
      <div class="py-[20px] px-[25px] flex flex-wrap items-center justify-between">
        <h1
          class="mb-0 inline-flex items-center max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[20px] font-semibold text-dark dark:text-white/[.87]">
          Typography</h1>
      </div>
      <div class="flex flex-wrap gap-y-[15px] p-[25px] pt-0">
        <div nz-row [nzGutter]="25">
          <div nz-col nzXs="24" class="max-xl:mb-[25px]">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[30px] font-semibold leading-[38px] mb-[20px]">
                  h1. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 30px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 38px</p>
              </div>
            </div>
          </div>
          <div nz-col nzXs="24" class="max-xl:mb-[25px]">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[24px] font-semibold leading-[30px] mb-[20px]">
                  h2. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 24px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 30px</p>
              </div>
            </div>
          </div>
          <div nz-col nzXs="24" class="max-xl:mb-[25px]">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[22px] font-semibold leading-[27px] mb-[20px]">
                  h3. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 22px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 27px</p>
              </div>
            </div>
          </div>
          <div nz-col nzXs="24" class="max-xl:mb-[25px]">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[20px] font-semibold leading-[24px] mb-[20px]">
                  h4. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 20px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 24px</p>
              </div>
            </div>
          </div>
          <div nz-col nzXs="24" class="max-xl:mb-[25px]">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[18px] font-semibold leading-[22px] mb-[20px]">
                  h5. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 18px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 22px</p>
              </div>
            </div>
          </div>
          <div nz-col nzXs="24">
            <div nz-row>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <h1 class="text-dark dark:text-white/[.87] text-[16px] font-semibold leading-[20px] mb-[20px]">
                  h6. Default Heading
                </h1>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-primary">Font Size - 16px</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-secondary">Font weight - 600</p>
              </div>
              <div nz-col nzXl="6" nzSm="12" nzXs="24">
                <p class="text-info">Line Height - 20px</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Typography Jost -->

</div>
