 <!-- skeleton -->
 <ng-template #loadingSkeleton>
   <nz-skeleton [nzAvatar]="true" class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle"
     [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton>
 </ng-template>
 <!-- skeleton -->


 <div nz-row nzGutter="25">
   <div nz-col nzXs="24" nzLg="12" class="mb-[25px]">
     <ng-container *ngIf="showContent; else loadingSkeleton">
       <div
         class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative ">
         <div
           class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
           <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Google Map Basic</h4>
         </div>
         <div class="p-[25px]">
           <google-maps-basic></google-maps-basic>
         </div>
       </div>
     </ng-container>
   </div>
   <div nz-col nzXs="24" nzLg="12" class="mb-[25px]">
     <ng-container *ngIf="showContent; else loadingSkeleton">
       <div
         class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative ">
         <div
           class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
           <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Google Map Light</h4>
         </div>
         <div class="p-[25px]">
           <google-maps-light></google-maps-light>
         </div>
       </div>
     </ng-container>
   </div>
   <div nz-col nzXs="24" nzLg="12" class="mb-[25px]">
     <ng-container *ngIf="showContent; else loadingSkeleton">
       <div
         class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative ">
         <div
           class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
           <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Google Map dark</h4>
         </div>
         <div class="p-[25px]">
           <google-maps-dark></google-maps-dark>
         </div>
       </div>
     </ng-container>
   </div>
   <div nz-col nzXs="24" nzLg="12" class="mb-[25px]">
     <ng-container *ngIf="showContent; else loadingSkeleton">
       <div
         class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative ">
         <div
           class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
           <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Google Map Aubergine</h4>
         </div>
         <div class="p-[25px]">
           <google-maps-aubergine></google-maps-aubergine>
         </div>
       </div>
     </ng-container>
   </div>
 </div>
