name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore GalaxyMicro.sln
      - name: Build
        run: dotnet build --no-restore GalaxyMicro.sln -c Release
      - name: Build Docker images (local)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          file: ./src/ProductService/Dockerfile
          tags: galaxy-waves-product-service:ci
      - name: Build order image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          file: ./src/OrderService/Dockerfile
          tags: galaxy-waves-order-service:ci
      - name: Build gateway image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          file: ./src/Gateway/Dockerfile
          tags: galaxy-waves-gateway:ci
